# OS or Editor folders  
.DS_Store  
._*  
.cache  
.project  
.settings  
.tmproj  
*.esproj  
*.sublime-project  
*.sublime-workspace  
*.iml 

upload-server/node_modules/
upload-server/public/upload/*
!upload-server/public/upload/.gitkeep